<app-navbar-patient></app-navbar-patient>
<div class="section-fluid p-5">
  <p>Do you currently have health insurance?</p>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="yes" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">no</label>
  </div>
  <br><br>
  <p>Do you currently have any of the following medical conditions? (choose all that apply)</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Asthma
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">
      Bleeding Problems
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
    <label class="form-check-label" for="defaultCheck3">
      Cancer
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
    <label class="form-check-label" for="defaultCheck4">
      Diabetes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
    <label class="form-check-label" for="defaultCheck5">
      Heart Murmur
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
    <label class="form-check-label" for="defaultCheck6">
      Heart Trouble
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
    <label class="form-check-label" for="defaultCheck7">
      High Blood Pressure
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
    <label class="form-check-label" for="defaultCheck8">
      Joint Replacement
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
    <label class="form-check-label" for="defaultCheck9">
      Kidney Disease
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
    <label class="form-check-label" for="defaultCheck10">
      Liver Disease
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
    <label class="form-check-label" for="defaultCheck11">
      Pregnancy (check if currently pregnant)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
    <label class="form-check-label" for="defaultCheck12">
      Psychiatric Treatment
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
    <label class="form-check-label" for="defaultCheck13">
      Pheumatic Fever
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
    <label class="form-check-label" for="defaultCheck14">
      Sinus Trouble
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
    <label class="form-check-label" for="defaultCheck15">
      Stroke
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
    <label class="form-check-label" for="defaultCheck16">
      Ulcers
    </label>
  </div>
  <br><br>
  <p>Are you allergic to any of the following?</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
    <label class="form-check-label" for="defaultCheck17">
      Anesthetic(Local)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
    <label class="form-check-label" for="defaultCheck18">
      Aspirin
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck19">
    <label class="form-check-label" for="defaultCheck19">
      Barbiturates
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
    <label class="form-check-label" for="defaultCheck20">
      Codeine
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck21">
    <label class="form-check-label" for="defaultCheck21">
      Ibuprofen
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck22">
    <label class="form-check-label" for="defaultCheck22">
      Iodine
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck23">
    <label class="form-check-label" for="defaultCheck23">
      Latex
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck24">
    <label class="form-check-label" for="defaultCheck24">
      Metals
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck25">
    <label class="form-check-label" for="defaultCheck25">
      Penicillin
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck26">
    <label class="form-check-label" for="defaultCheck26">
      Sulfa Drugs
    </label>
  </div>
  <br><br>
  <p>Please give a list of your medications:</p>
  <div class="form-group">
    <textarea class="form-control" rows="5" id="medication-list"></textarea>
  </div>
  <div>
    <br><br>
    <p>Financial Information:</p>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Income</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>&lt;15,000</option>
        <option>15,000-20,000</option>
        <option>20,000-25,000</option>
        <option>25,000-30,000</option>
        <option>30,000-35,000</option>
        <option>35,000-40,000</option>
        <option>40,000-50,000</option>
        <option>&gt;50,000</option>
      </select>
    </div>
    <div>

      <br>
      <br>
      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#results">Submit</button>
    </div>
  </div>

</div>

<div class="modal fade" id="results" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Matches</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="d-flex">
          <div class="card mx-3" style="width: 30%; display: inline-block;">
            <img class="card-img-top" src="https://www.valuewalk.com/wp-content/uploads/2014/12/On-Deck-Capital.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Capital One</h5>
              <p class="card-text">Capital One provides a multitude of health care loans selection starting from 0%
                APR.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>

          <div class="card mx-3" style="width: 30%; display: inline-block;">
            <img class="card-img-top" src="https://neighborhoodofgood.statefarm.com/images/nog-social.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">State Farm</h5>
              <p class="card-text">Jake also has affordable health care too!</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>

          <div class="card mx-3" style="width: 30%; display: inline-block;">
            <img class="card-img-top" src="https://130e178e8f8ba617604b-8aedd782b7d22cfe0d1146da69a52436.ssl.cf1.rackcdn.com/russian-charged-hacking-jpmorgan-extradited-to-us-showcase_image-10-a-11476.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">JP Morgan Chase</h5>
              <p class="card-text">Wonderful healthcare loans start here!</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>

        <div class="card bg-light my-5 mx-3" style="max-width: 95%;">
          <div class="card-header">Search for Affordable Health Care Loans</div>
          <div class="card-body">
            <div class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
