<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><strong>Unifi</strong><span class="text-primary">PATIENT</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/patient">Home</a>
      <a class="nav-item nav-link" href="/patient/medication">Medication</a>
      <a class="nav-item nav-link" href="/patient/appointments">Appointments</a>
      <a href="/patient/aid" class="nav-iten nav-link">Medical Aid</a>
    </div>
  </div>
</nav>
