<app-navbar-patient></app-navbar-patient>
<div class="container-fluid m-5">
  <div *ngFor="let medication of data.profile.medication" class="bottle-container mx-3" data-toggle="modal" [attr.data-target]="'#m-' + medication.name">
    <div class="bottle">
      <div class="cap"></div>
      <div class="label">
        {{medication.name}}
      </div>
    </div>
  </div>
</div>

<div *ngFor="let medication of data.profile.medication" class="modal fade" id="{{'m-' + medication.name}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{medication.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Dose: {{medication.dose}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
