#login-box {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 50%;
    min-width: 200px;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2em;
    border-radius: 5px;
}

.pattern {
    width: 100%;
    height: 100%;
    background: url("/assets/img/login-pattern.png");
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    opacity: 0.1;
}

.pattern-parent {
    background: white;
    width:100%;
    height: 100vh;
}